*{
    box-sizing: border-box;
}

.container {
    text-align: center;

}

body {
    margin: 0px;
    background-image: url("img/sky.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.content{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
    color: white;
}

.container{
    color: white;
}